/.vs/VSWorkspaceState.json
/.idea/vcs.xml
/.vs/slnx.sqlite
/.idea/Shir-N-Mic-Blackijecky.iml
/.vs/Shir-N-Mic-Blackijecky/CopilotIndices/17.14.260.54502/SemanticSymbols.db-wal
/.vs/Shir-N-Mic-Blackijecky/CopilotIndices/17.14.260.54502/SemanticSymbols.db-shm
/.vs/Shir-N-Mic-Blackijecky/CopilotIndices/17.14.260.54502/SemanticSymbols.db
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.vs/Shir-N-Mic-Blackijecky/v17/DocumentLayout.json
/.vs/Shir-N-Mic-Blackijecky/FileContentIndex/dd53ac83-b0c4-49bd-bf96-a7fcab1a2c9d.vsidx
/.vs/Shir-N-Mic-Blackijecky/CopilotIndices/17.14.260.54502/CodeChunks.db-wal
/.vs/Shir-N-Mic-Blackijecky/CopilotIndices/17.14.260.54502/CodeChunks.db-shm
/.vs/Shir-N-Mic-Blackijecky/CopilotIndices/17.14.260.54502/CodeChunks.db
/.vs/Shir-N-Mic-Blackijecky/FileContentIndex/cdfdc4b6-1542-44ff-a633-260703104ec3.vsidx
/.vs/Shir-N-Mic-Blackijecky/FileContentIndex/b6a7a2ab-2e59-4a6a-bd03-4f0f99246fe2.vsidx
/.vs/Shir-N-Mic-Blackijecky/FileContentIndex/a55871cd-d2e1-4673-8e08-e74ddb1e6f02.vsidx
/.vs/Shir-N-Mic-Blackijecky/FileContentIndex/0c441a6a-7302-49d1-a5e9-820e851acc74.vsidx
/.vs/Shir-N-Mic-Blackijecky/v17/.wsuo
